{
  "extends": [
    "standard"
  ],
  "rules": {
    "func-names": 2,
    "no-var": 2,
    "camelcase": 0
  },
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "browser": false
  }
}
